{% extends "layout.html" %}
{% block title %}
<div class="labelName">Be the first to join Mail<span class="colorText">.ruvolution</span></div>
{% endblock title %}
{% block content %}
<div class="containerFormLogin">
    <div class="nc-form">
            <div class="logoYourMail">
                <img src="../static/img/logoYourMail.png" height="80px">
            </div>
          <div class="logInForm">
            <form name="login" method="post" class="nc-form__main">
                <div class="nc-form__main-login">
                    <input title="login" type="text" class="nc-form__input" placeholder="Имя ящика"/>
                    <select title="select" class="optionMail">
                        <option value="mail" class="nc-select_option">@mail.ru</option>
                        <option value="inbox" class="nc-select_option">@inbox.ru</option>
                        <option value="list" class="nc-select_option">@list.ru</option>
                        <option value="bk" class="nc-select_option">@bk.ru</option>
                    </select>
                </div>
                <div class="nc-form__main-password">
                    <input title="password" type="password" class="nc-form__input" placeholder="Пароль"/>
                    <button class="dws-submit">Войти</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
{% block footer %}
<footer class="container page-footer">
    <div class="row justify-content-center" style="margin-top: 10px; margin-bottom: 10px;">
        <small class="text-muted">Geek-S © 2018</small>
    </div>
</footer>
{% endblock footer %}
